#dashboard-listing-container
{
	margin-bottom: 5rem;
}

	#dashboard-search-container
	{
		margin-right: 0.25rem;
	}

	#dashboard-search-container button
	{
		margin-right: 0;
	}

	@media screen and (max-width: 560px)
	{
		#dashboard-search-container
		{
			border-bottom: none;
		}
	}
	#dashboard-search-field:focus
	{
		border-bottom-color: #666;
	}
	#dashboard-search-field.no-match
	{
		color: red;
	}
#no-match
{
	padding: 2rem;
	font-size: 14pt;
}


.chart-icon
{
	position: relative;
	min-height: 18rem;
	padding: 0.5rem 0.25rem;
	cursor: pointer;
}

.chart-icon.active .chart-label
{
	display:none;
}
.chart-icon.active .chart-icon-controls
{
	display: block;
}

	.chart-icon-controls
	{
		display: none;
		height: 6rem;
	}
		.chart-icon-controls .control-button
		{
			height: 3rem;
			display: block;
			width: 100%;
			line-height: 3rem;
			padding:0;
			margin: 0;
			color: black;
			text-decoration: none;
			font-style: bold;
			text-align: center;
			border: 0.1rem black solid;
			border-bottom: 0;
		}
		.chart-icon-controls .control-button:last-child
		{
			border-bottom: 0.1rem black solid;
		}

			.control-button:hover
			{
				color: white;
				background: black;
			}
			.control-button img
			{
				display: none;
			}

.chart-icon-content
{
	height: inherit;
}

.chart-preview
{
	cursor: pointer;
	width: 100%;
	height: 11rem;
	line-height: 11rem;
	overflow:hidden;
}
	.chart-preview.no-bg
	{
		background: transparent;
	}

	.chart-preview img
	{
		width: 100%;
		height: 100%;
		margin: 0 auto;
		display: inline-block;
		vertical-align: middle;
	}

.chart-label
{
	background: white;
	width: 100%;
	min-height: 6rem;
	font-size: 10pt;
	padding-left: 0.25rem;
	padding-top:0.25rem;
	overflow: hidden;

}
	.chart-label h5
	{
		font-size: 1rem;
		padding-top: 0.25rem;
		margin-bottom: 0.25rem;
		max-height: 2rem;
		overflow: hidden;
		display:inline-block;
		text-overflow: ellipsis;
		whitespace: no-wrap;
		width: 90%;
	}
	.chart-label p
	{
		padding: 0;
		margin: 0;
	}


@media screen and (max-width: 560px)
	{
		.chart-icon
		{
			padding-top: 0;
			padding-bottom: 0;
		}


			.chart-icon.active .chart-label
			{
				display:block;
			}

		.chart-preview
		{
			text-align: center;
		}

		.chart-preview img
		{
			width: auto;
			height: 100%;
			margin: 0 auto;
		}
		.chart-preview-and-label
		{
			width: 70%;
			float: left;
		}
		.chart-icon-controls
		{
			display: none;
		}
		.chart-icon-controls
		{
			float:right;
			display: block;
			right: 0;
			width: 30%;
			height: 15rem;
		}
			.chart-icon-controls .control-button
			{
				height: 7.5rem;
				padding:0;
				margin: 0;
				color: black;
				text-decoration: none;
				font-style: bold;
				text-align: center;
				line-height: 7.5rem;
			}
				.control-button:hover
				{
					color: white;
					background: #999;
				}
				.control-button img
				{
					display: none;
				}
	}
