.auth0-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: min-content;
    font-weight: 900;
    color: black;
    font-size: 1rem;
}

.auth0-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cssc-sources-title {
    font-size: 1.2rem;
    text-align: center;
}
