.modal {
	  position: fixed;
	  left: 50%;
	  top: 50%;
	  transition: opacity .15s ease-in-out;
	  z-index: 99;
	  transform-origin: center;
	  transform: translate(-50%, -50%);
	  background: white;
	  border: black solid 2px;
	  border-radius: 10px;
}

.overlay {
	  background-color: black;
	  opacity: 0.5;
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100vw;
	  height: 100vh;
	  z-index: 98;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

.modal-content {
    padding: 0.4rem;
}

.icon-button {
    background-color: transparent;
    border-width: 0;
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    padding: 0;
    margin: 0;
}
