/****** new entity ******/

#new-entity
{

}
	#new-entity h3
	{
		word-wrap: break-word;
	}

	#new-entity input[type=button],
	#new-entity button
	{
		margin:0;
	}
	#new-entity form
	{

	}

	#new-entity fieldset
	{
		margin-bottom: 0rem;
	}

	#new-entity input[type=text],
	#new-entity textarea
	{
		width: 100%;
	}
	#new-entity textarea
	{
		border: 0;
		border-bottom: 0.1rem black solid;
		min-height: 7rem;
		resize: vertical;
		padding: 0;
		margin: 0;
	}

	#new-entity #failure-message
	{
		color: #a40000;
	}

	#new-entity .file-input .contents
	{
		margin-left:0;
	}
