/******
 *
 * Device classes
 *
 * mobile		< 560px
 * mobile-hd	>= 560px, < 720px
 * tablet		>= 720px, < 960px
 * desktop		>= 960px, < 1200px
 * desktop-hd	>= 1200px
 * all-desktop	>= 960px
 *
 */

/*
 * yes/no classes for device-specific stuff
 */

html
{
	min-width: 320px;
}

@media screen and (max-width: 559px),
		screen and (max-device-width: 559px){
	.no-only-mobile, .yes-only-mobile-hd, .yes-only-tablet,
	.yes-only-desktop, .yes-only-desktop-hd
	{
		display:	none;
	}
	.yes-only-mobile
	{
		display:	initial;
	}
	body
	{
		padding-left: 0.5rem;
	}
}

@media screen and (min-width: 560px) and (max-width: 719px),
		screen and (min-device-width: 560px) and (max-device-width: 719px){
	.no-only-mobile-hd, .yes-only-mobile, .yes-only-tablet,
	.yes-only-desktop, .yes-only-desktop-hd
	{
		display:	none;
	}
	.yes-only-mobile-hd
	{
		display:	initial;
	}
}

@media screen and (min-width: 720px) and (max-width: 959px),
		screen and (min-device-width: 720px) and (max-device-width: 959px){
	.yes-only-mobile-hd, .yes-only-mobile, .no-only-tablet,
	.yes-only-desktop, .yes-only-desktop-hd
	{
		display:	none;
	}
	.yes-only-tablet
	{
		display:	initial;
	}
}

@media screen and (min-width: 960px) and (max-width: 1199px),
		screen and (min-device-width: 960px) and (max-device-width: 1199px){
	.yes-only-mobile-hd, .yes-only-mobile, .yes-only-tablet,
	.no-only-desktop, .yes-only-desktop-hd
	{
		display:	none;
	}
	.yes-only-desktop
	{
		display:	initial;
	}
}

@media screen and (min-width: 1200px),
		screen and (min-device-width: 1200px){
	.yes-only-mobile-hd, .yes-only-mobile, .yes-only-tablet,
	.yes-only-desktop, .no-only-desktop-hd
	{
		display:	none;
	}
	.yes-only-desktop-hd
	{
		display:	initial;
	}
}

/* gt/lt device classes */
.yes-mobile, .yes-mobile-hd, .yes-tablet, .yes-desktop, .yes-desktop-hd
{
	display:	none;
}

@media screen and (max-width: 559px),
		screen and (max-device-width: 559px){
	.no-mobile, .no-mobile-hd, .no-tablet, .no-desktop, .no-desktop-hd
	{
		display:	none;
	}
	.yes-mobile, .yes-mobile-hd, .yes-tablet, .yes-desktop, .yes-desktop-hd
	{
		display:	initial;
	}
}
@media screen and (max-width: 719px),
		screen and (max-device-width: 719px){
	.no-mobile-hd, .no-tablet, .no-desktop, .no-desktop-hd
	{
		display:	none;
	}
	.yes-mobile-hd, .yes-tablet, .yes-desktop, .yes-desktop-hd
	{
		display:	initial;
	}
}
@media screen and (max-width: 959px),
		screen and (max-device-width: 959px) {
	.no-tablet, .no-desktop, .no-desktop-hd
	{
		display:	none;
	}
	.yes-tablet, .yes-desktop, .yes-desktop-hd
	{
		display:	initial;
	}
}
@media screen and (max-width: 1199px),
		screen and (max-device-width: 1199px){
	.no-desktop, .no-desktop-hd
	{
		display:	none;
	}
	.yes-desktop, .yes-desktop-hd
	{
		display:	initial;
	}
}
@media screen and (min-width: 1200px),
		screen and (min-device-width: 1200px){
	.no-desktop-hd
	{
		display:	none;
	}
	.yes-desktop-hd
	{
		display:	initial;
	}
}

/* reset our max width to something saner for modern browsers */
.container
{
	max-width: 1400px;
}

html, body, .container, .row, .columns
{
}

.content .row
{
	margin-left: 0;
	margin-right: 0;
}

.text-center
{
	text-align: center;
}
.text-right
{
	text-align: right;
}
.text-left
{
	text-align: left;
}

.small
{
	font-size: 8pt;
	line-height: 1rem;
}

.tiny
{
	font-size: 7pt;
}

.unc-blue
{
	color: #7BAFD4;
}
.black
{
	color: black;
}

*
{
	font-family: "Raleway", sans-serif;
}

label
{
	font-family: "Raleway", sans-serif;
	font-weight: normal;
}

.clearfix:after
{
  content: "";
  display: table;
  clear: both;
}

.no-margin
{
	margin: 0;
}

/* reduce stupid margins for nested lists */
ul ul, ul ol, ol ol, ol ul
{
    margin: 0.5rem 0 0.5rem 1rem;
    font-size: 90%;
}

/***** chart editor *****/
#chart-source-editor *
{
	font-family: monospace;
}

/***** Common controls *****/

.bottom-drag-handle
{
	margin-bottom: 0.8rem;
}
.bottom-drag-handle::after
{
	content: "............";
	color: black;
	background-color: #eee;
	font-size: 0.8rem;
	line-height: 50%;
	height: 0.8rem;
	display: block;
	text-align: center;
	border: 0.1rem #aaa solid;
}

.error
{
	color: #a40000;
}

label .prompt
{
	color: #555;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

	label .prompt + input[type=text],
	label .prompt + input[type=password]
	{
		margin-top: 0;
	}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button:disabled, .button:disabled:hover, button[disabled],
.button[disabled], .button-primary[disabled], .button-success[disabled],
.button-danger[disabled], input[type="submit"][disabled],
input[type="reset"][disabled], input[type="button"][disabled]
{
	cursor: default;
}

input[type=text],
input[type=password],
input[type=search]
{
	border: 0;
	border-radius: 0;
	border-bottom: 0.1rem #555 solid;
	padding: 0;
	margin-top:0.3rem;
	margin-bottom: 0.5rem;
}
	input[type=text]:focus,
	input[type=password]:focus,
	input[type=search]:focus
	{
		border:0;
		border-bottom: 0.1rem black solid;
	}


input[type=submit],
input[type=button],
button,
label.file-input span.contents
{
	border: 0.1rem black solid;
	font-family: "Raleway", sans-serif;
	font-weight: normal;
	text-transform: none;
	font-size: 12pt;
	color: black;
	letter-spacing: 0;
	border-radius: 0;
	padding: 0 1.5rem;
	line-height: 2rem;
	height: 2rem;
	margin: 0 1rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
	display: inline-block;
	max-width: 20rem;
}

	label.file-input
	{
		max-width:100%;
		display: flex;
	}

	label.file-input span.contents
	{
		min-width: 0;
		flex: 1;
	}

	input[type=submit]:not([disabled]):hover,
	input[type=button]:not([disabled]):hover,
	button:not([disabled]):hover,
	label.file-input:hover
	{
		border-color: black;
		cursor: default;
	}

	input[type=submit]:active,
	input[type=button]:active,
	button:active,
	label.file-input .contents:active
	{
    background: #369;
		color:white;
	}
	button.white-bg:active
	{
		background: white;
		color:black !important;
	}
	button.black-bg:active
	{
		background: black;
		color:white !important;
	}

input[type=search]
{
	border: none;
	border-bottom: 0.1rem #999 solid;
	border-radius: 0;
	padding: 0;
	line-height: 1.25rem;
	height: auto;
}

label.file-input span.contents
{

    display: inline-block;
    cursor: pointer;
}
	label.file-input span.filename
	{
		padding: 0 .5rem;
	}
	label.file-input input[type=file]
	{
		display:none;
	}

/***** toggle bar (select) *****/

.toggle-bar, .combo-bar
{
	border: 0.1rem black solid;
	border-radius: 0rem;
	overflow: hidden;
	display: table;
	margin: 0;
	padding:0;
	/* this is exploiting a CSS quirk/bug.  We need a fixed height for the
	child elements' height: 100% hack to work.  But this doesn't actually screw
	us as badly as you'd think since the CSS spec specifies that a non auto height
	is treated as a minimum height.

	But wait, why doesn't min-height have the same behavior and let height:100%
	on children work?

	Because CSS is weird and hacky.
	*/
	height: 1rem;
	background-color: white;
}
	.toggle-bar input[type=radio],
	.combo-bar input[type=checkbox]
	{
		display:none;
	}
	.toggle-bar .option-wrapper,
	.combo-bar .option-wrapper
	{
		display:table-cell;
		height: 100%;
		vertical-align: top;
	}
	.toggle-bar label,
	.combo-bar label
	{
		display:table;
		cursor: pointer;
		height: 100%;
		margin: 0;
		transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
		/*-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto;
		word-break: break-all*/
		text-align: center;
	}
	.toggle-bar input:checked + label,
	.combo-bar input:checked + label
	{
		background: #369;
		color: white;
	}

		.toggle-bar input:disabled + label,
		.combo-bar input:disabled + label
		{
			background: #aaa;
			color: white;
			cursor:not-allowed;
		}

	.toggle-bar label .label-inner,
	.combo-bar label .label-inner
	{
		display:table-cell;
		vertical-align: middle;
		padding: 0.15rem 0.5rem;
	}


/***** Login stuff *****/
#login
{
	margin-top: 5rem;
}
	#login #dash-icon
	{
		max-width: 10rem;
		width: 30%;
		height: auto;
		margin: 0 auto;
		display: block;
		margin-bottom: 1rem;
	}

	#login label span
	{
		font-size: 16pt;
		padding:0;
		margin-bottom: 0.4rem;
	}

	#login fieldset
	{
		padding-left: 0;
		padding-right: 0;
	}

	#login #submit-container
	{
		text-align: right;
	}
	#login .pw-error
	{
		color: #a40000;
		margin-bottom: 1rem;
	}

  .auth0-container .pw-error{
      text-align: center;
  }




header
{
	margin-top:				10pt;
	border-bottom-width:	1pt;
	border-bottom-color:	#7F7F7F;
	border-bottom-style:	solid;
	padding-bottom: 0.25rem;
}
	header h3
	{
		margin-bottom: 0.5rem;
	}

		header h3 i
		{
			color: #B3B3B3;
			font-style: normal;
		}

	.head-logo-wrapper
	{
		max-width: 10.5rem;
	}
		header .head-logo-wrapper a
		{
			text-decoration: none;
			color: black;
			display: inline-block;
			line-height: 3rem;
		}
		header .head-logo-wrapper h1
		{
			font-size: 3rem;
			vertical-align: middle;
			display: inline-block;
			margin: 0;
			margin-left: 0.5rem;
			padding: 0;
			width: 7rem;
		}
		header .head-logo-wrapper img
		{
			vertical-align: middle;
			width: 3rem;
			height: 3rem;
			display: inline-block;
			margin: 0;
		}
	.head-logo-wrapper .motto
	{
		font-size: 10pt;
		letter-spacing: .5pt;
		color: #999;
		margin: 0;
		text-align: right;
		padding: 0;
		padding-right: 10pt;
		line-height: 12pt;
		height: 12pt;
	}

	header #logout
	{
		padding: 0 6pt;
		line-height: 24pt;
		height: 24pt;
	}

	header #username
	{
		margin-right: 1rem;
	}

#username-container
{
	line-height: 4rem;
}
	@media screen and (max-width: 560px),
			screen and (max-device-width: 560px){
		#username-container
		{
			line-height:		1rem;
			margin-bottom:		.25rem;
			float:				right;
		}
	}


#content
{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

nav
{

}
	nav ul
	{
		padding-left: 10pt;
	}
	nav li
	{
		list-style: none;
	}
		nav li.active
		{
			font-weight: bold;
		}
	nav a
	{
		color: #333;
		text-decoration: none;
	}

	nav.yes-mobile
	{
		margin-top: 10pt;
	}


#content
{

	min-height: 10rem;
	margin-bottom: 1rem;
}

footer
{
	padding-top:	10pt;
	text-align: 	center;
}
	#cscc-logo, #unc-mark
	{
		display: inline-block;
	}

	#cscc-logo img
	{
		width:		60px;
		height:		auto;
		opacity:	.5;

	}
	#unc-mark img
	{
		width: 20px;
		height: auto;
		opacity: .5;
	}
		#cscc-logo img:hover, #unc-mark img:hover
		{
			opacity:	1;
		}

	.legalese
	{
		line-height: 10pt;
		margin-bottom: 1rem;
		font-size: 10pt;
	}

	.legalese p
	{

		margin: 0;
		margin-bottom: 0.25rem;
	}

table
{


}
	table.sortable th
	{
		cursor: pointer;
	}


	table th.selected
	{
		text-decoration: underline;
	}

	table th.selected.desc:after
	{
		content: " (desc.)";
		font-weight: bold;
		text-decoration: none;
	}

	table th.selected.asc:after
	{
		content: "(asc.)";
		font-weight: bold;
		text-decoration: none;
	}


/***** ACL ******/

.acl
{

}
	.acl .entries
	{
			overflow-y: scroll;
			max-height: 40rem;
	}

.acl .entries .user
{
	vertical-align: middle;
	padding: 0.5rem;
}
	.acl .entries .user:nth-child(odd)
	{
		background: #dfdfdf;
	}

.acl .entries .user.highlight
{
	background: #c9ddea;
}

.acl .search
{
	width: 70%;
	margin: 0 auto;
}

.acl .search input
{
	margin: 0;

}

.acl .search-results
{
	position: absolute;
	margin-top: -0.1rem;
	background: white;
	border: 0.1rem #aaa solid;
	border-top: 0;
	z-index: 1;
}
	.acl .search-results .result,
	.acl .search-results p
	{
		margin: 0;
		padding: 0.5rem 1rem;
		display: block;
	}
