#chart-content
{

}
	@media screen and (min-width: 560px)
	{
		#chart-content
		{
			margin-left: 1rem;
		}
	}
	#chart-content h3
	{
		margin-bottom: 0.7rem;
	}

	#chart-content .description
	{
		font-size: 9pt;
		color: #777;
		line-height: 12pt;
		margin-bottom: 1rem;
	}
.wc-controls, .wc-chart
{
	font-family: Raleway;
}

.wc-controls
{
	font-size: 1.2rem;
}

.wc-controls .radio
{
	line-height: .9rem;
	height: .9rem;
	font-size: .9rem;
	margin-right: .25rem;
}

	.wc-controls .control-label
	{
		padding: 0 0.5rem;
	}

	.wc-controls .control-group input[type="radio"]
	{
		visibility: hidden;
	}

	.wc-controls .control-group input[type="radio"]::before
	{
		content: " ";
		width: 0.6rem;
		height: 0.6rem;
		line-height: .7rem;
		display: inline-block;
		visibility: visible;
		background: white;
		outline: .1rem #999 solid;
		margin-left: .25rem;
	}
		.wc-controls .control-group input[type="radio"]:checked::before
		{
			background: black;
			border: .1rem white solid;

		}

	.wc-controls .control-group select
	{
		border: 0;
		border-bottom: 0.1rem #333 solid;
		border-radius: 0;
		background: transparent;
		display: inline-block;
		-webkit-appearance:none;
		-moz-appearance:none;
		appearance:none;
		padding: 0;
		line-height: 2rem;
		height: 2rem;
		font-size: 1.2rem;
		margin: 0;
		padding-right: 1.5rem;
	}
		.wc-controls .control-group select:focus
		{
			/*border-bottom-style: dotted;*/
		}
		.wc-controls .control-group .changer::after
		{
			content:"\2304";
			font-size: 1.5rem;
			width: 1.5em;
			margin-left: -.75em;
			pointer-events: none;
		}
